career_skill_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
XSD answers questions like:
===========================
- Must every skill have an ID?
- Can priority be "Very Important"?
- Can a career refer to a skill that does not exist?
- Can careerLevel be "Expert"?
- Must every course teach at least one skill?
-->

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://tsw6223.example.edu/career-skill"
    xmlns="https://tsw6223.example.edu/career-skill"
    elementFormDefault="qualified">
    <!--
    ================================================
    xmlns="https://tsw6223.example.edu/career-skill"
    ================================================
    This means when the XSD refers to project-defined elements/types without a prefix, treat them as belonging to this namespace.
    Example:
        - xs:element = XSD instruction
        - DataSourcesType = your project schema type

    ================================================
    elementFormDefault="qualified"
    ================================================
    This means All XML elements declared by this schema must belong to the target namespace.
    -->

    <xs:simpleType name="PriorityType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="High"/>
            <xs:enumeration value="Medium"/>
            <xs:enumeration value="Low"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CareerLevelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Beginner"/>
            <xs:enumeration value="Intermediate"/>
            <xs:enumeration value="Advanced"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SkillCategoryType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Technical"/>
            <xs:enumeration value="Essential"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="careerSkillSystem">
        <xs:complexType>
        <!-- This part shows the root element must contain elements in this exact order:-->
            <xs:sequence>
                <!-- The order of these elements is significant -->
                <xs:element name="dataSources" type="DataSourcesType"/>
                <xs:element name="skills" type="SkillsType"/>
                <xs:element name="careers" type="CareersType"/>
                <xs:element name="courses" type="CoursesType"/>
                <xs:element name="students" type="StudentsType" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <!-- The following keys and keyrefs enforce referential integrity -->
        <xs:key name="sourceIdKey">
            <!-- Every source inside dataSources/source must have a unique id -->
            <xs:selector xpath="dataSources/source"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:key name="skillIdKey">
            <!-- Every skill inside skills/skill must have a unique id -->
            <xs:selector xpath="skills/skill"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:key name="careerIdKey">
            <!-- Every career inside careers/career must have a unique id -->
            <xs:selector xpath="careers/career"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:key name="courseIdKey">
            <!-- Every course inside courses/course must have a unique id -->
            <xs:selector xpath="courses/course"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:keyref name="careerSourceRef" refer="sourceIdKey">
            <!-- Every career's sourceRef must refer to an existing source id -->
            <xs:selector xpath="careers/career"/>
            <xs:field xpath="@sourceRef"/>
        </xs:keyref>

        <xs:keyref name="careerRequiredSkillRef" refer="skillIdKey">
            <!-- Every career's requiredSkill refs must refer to existing skill ids -->
            <xs:selector xpath="careers/career/requiredSkills/requiredSkill"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>

        <xs:keyref name="courseTeachesSkillRef" refer="skillIdKey">
            <!-- Every course's teachesSkill ref must refer to an existing skill id -->
            <xs:selector xpath="courses/course/teachesSkill"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>

        <xs:keyref name="coursePrerequisiteSkillRef" refer="skillIdKey">
            <!-- Every course's prerequisiteSkill ref must refer to an existing skill id -->
            <xs:selector xpath="courses/course/prerequisiteSkill"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>

        <xs:keyref name="studentTargetCareerRef" refer="careerIdKey">
            <!-- Every student's targetCareer ref must refer to an existing career id -->
            <xs:selector xpath="students/student/targetCareer"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>

        <xs:keyref name="studentCurrentSkillRef" refer="skillIdKey">
            <!-- Every student's currentSkill refs must refer to existing skill ids -->
            <xs:selector xpath="students/student/currentSkills/currentSkill"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>
    </xs:element>

    <!-- The following section defines what each XML section is allowed to contain.
    
        This part of the XSD defines the detailed structure of each main XML section, such as sources, 
        skills, careers, courses, and students. Each `xs:complexType` acts as a rule template that specifies 
        what child elements and attributes are allowed inside an XML element. For example, `SkillType` defines 
        that each skill must have a skill name, skill category, optional aliases, and a required unique `id` attribute.

        The `xs:ID` type is used to create a unique identifier for an element, such as `SK001`, `C001`, or `CRS001`. 
        The `xs:IDREF` type is used to refer to an existing `xs:ID` value elsewhere in the XML document. Unlike `xs:ID`, 
        the same `xs:IDREF` value can be used more than once because many elements may refer to the same ID. 
        For example, several careers or courses can refer to the same skill ID such as `SK001`.

        Some reference structures are also made reusable through custom complex types. 
        For example, `SkillReferenceType` contains a required `ref` attribute of type `xs:IDREF`, 
        so it can be reused by elements such as `teachesSkill`, `prerequisiteSkill`, and `currentSkill`.
    -->
    <xs:complexType name="DataSourcesType">
        <xs:sequence>
            <!-- dataSources contains one or more source elements -->
            <!-- unbounded means there can be any number of source elements -->
            <!-- No minOccurs is given, so the default is minOccurs = 1 -->
            <xs:element name="source" type="SourceType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SourceType">
        <xs:sequence>
            <xs:element name="sourceName" type="xs:string"/>
            <xs:element name="sourceUrl" type="xs:anyURI"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="SkillsType">
        <xs:sequence>
            <xs:element name="skill" type="SkillType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SkillType">
        <xs:sequence>
            <xs:element name="skillName" type="xs:string"/>
            <xs:element name="skillCategory" type="SkillCategoryType"/>
            <xs:element name="aliases" type="AliasesType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="AliasesType">
        <xs:sequence>
            <xs:element name="alias" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CareersType">
        <xs:sequence>
            <xs:element name="career" type="CareerType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CareerType">
        <xs:sequence>
            <xs:element name="careerName" type="xs:string"/>
            <xs:element name="sourceOccupationTitle" type="xs:string"/>
            <xs:element name="careerLevel" type="CareerLevelType"/>
            <xs:element name="sourceNote" type="xs:string"/>
            <xs:element name="requiredSkills" type="RequiredSkillsType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="sourceRef" type="xs:IDREF" use="required"/>
        <xs:attribute name="sourceOccupationCode" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="RequiredSkillsType">
        <xs:sequence>
            <xs:element name="requiredSkill" type="RequiredSkillType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RequiredSkillType">
        <xs:attribute name="ref" type="xs:IDREF" use="required"/>
        <xs:attribute name="priority" type="PriorityType" use="required"/>
    </xs:complexType>

    <xs:complexType name="CoursesType">
        <xs:sequence>
            <xs:element name="course" type="CourseType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CourseType">
        <xs:sequence>
            <xs:element name="courseName" type="xs:string"/>
            <xs:element name="teachesSkill" type="SkillReferenceType" maxOccurs="unbounded"/>
            <xs:element name="prerequisiteSkill" type="SkillReferenceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="SkillReferenceType">
        <xs:attribute name="ref" type="xs:IDREF" use="required"/>
    </xs:complexType>

    <xs:complexType name="StudentsType">
        <xs:sequence>
            <xs:element name="student" type="StudentType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StudentType">
        <xs:sequence>
            <xs:element name="studentName" type="xs:string"/>
            <xs:element name="targetCareer" type="CareerReferenceType"/>
            <xs:element name="currentSkills" type="CurrentSkillsType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="CareerReferenceType">
        <xs:attribute name="ref" type="xs:IDREF" use="required"/>
    </xs:complexType>

    <xs:complexType name="CurrentSkillsType">
        <xs:sequence>
            <xs:element name="currentSkill" type="SkillReferenceType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
